-- SQL to check and fix the experience constraint

-- First, check the current constraint
SELECT * FROM information_schema.check_constraints 
WHERE constraint_name = 'maid_profiles_experience_check';

-- Drop the existing constraint
ALTER TABLE maid_profiles DROP CONSTRAINT IF EXISTS maid_profiles_experience_check;

-- Add a new constraint that accepts the exact string values from the dropdown
-- Using the exact syntax that Supabase is using
ALTER TABLE maid_profiles ADD CONSTRAINT maid_profiles_experience_check 
CHECK (
    experience = ANY (ARRAY['fresher'::text, '1+'::text, '2+'::text, '3+'::text, '4+'::text, '5+'::text, '10+'::text])
);

-- Verify the new constraint
SELECT * FROM information_schema.check_constraints 
WHERE constraint_name = 'maid_profiles_experience_check';
