-- SQL to create maid_profile_photos bucket in Supabase

-- Create the storage bucket for maid profile photos if it doesn't exist
INSERT INTO storage.buckets (id, name, public)
VALUES ('maid_profile_photos', 'maid_profile_photos', true)
ON CONFLICT (id) DO NOTHING;

-- Check if policies exist before creating them
DO $$
BEGIN
    -- Policy to allow authenticated users to upload their own profile photos
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'objects' 
        AND policyname = 'Users can upload their own maid profile photos'
    ) THEN
        CREATE POLICY "Users can upload their own maid profile photos"
        ON storage.objects
        FOR INSERT
        TO authenticated
        WITH CHECK (
          bucket_id = 'maid_profile_photos' AND
          auth.uid()::text = (storage.foldername(name))[1]
        );
    END IF;

    -- Policy to allow public access to view maid profile photos
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'objects' 
        AND policyname = 'Maid profile photos are publicly accessible'
    ) THEN
        CREATE POLICY "Maid profile photos are publicly accessible"
        ON storage.objects
        FOR SELECT
        TO public
        USING (bucket_id = 'maid_profile_photos');
    END IF;

    -- Policy to allow users to update their own maid profile photos
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'objects' 
        AND policyname = 'Users can update their own maid profile photos'
    ) THEN
        CREATE POLICY "Users can update their own maid profile photos"
        ON storage.objects
        FOR UPDATE
        TO authenticated
        USING (
          bucket_id = 'maid_profile_photos' AND
          auth.uid()::text = (storage.foldername(name))[1]
        )
        WITH CHECK (
          bucket_id = 'maid_profile_photos' AND
          auth.uid()::text = (storage.foldername(name))[1]
        );
    END IF;

    -- Policy to allow users to delete their own maid profile photos
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'objects' 
        AND policyname = 'Users can delete their own maid profile photos'
    ) THEN
        CREATE POLICY "Users can delete their own maid profile photos"
        ON storage.objects
        FOR DELETE
        TO authenticated
        USING (
          bucket_id = 'maid_profile_photos' AND
          auth.uid()::text = (storage.foldername(name))[1]
        );
    END IF;
END
$$;
